<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--  title details    -->
    <title>PAWSter Care Admin</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
    <!-- Alertify CDN  -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css" />
    <!-- data tables -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- custom CSS -->
    <link href="../css/PAWSter%20Care.css" rel="stylesheet">
    <link href="../css/admin_tables.css" rel="stylesheet">
    <link href="../css/admin_main.css" rel="stylesheet">
    <link href="../css/meet_the_dogs.css" rel="stylesheet">
    <!-- custom js -->
    <script src="../js/PAWSter%20Care.js" type="text/javascript"></script>
    <script src="../js/admin_tables.js" type="text/javascript"></script>
    <script src="../js/admin_main.js" type="text/javascript"></script>
    <script src="../js/admin_dogs.js" type="text/javascript"></script>
    <script src="../js/admin_requests.js" type="text/javascript"></script>
    <script src="../js/meet_the_dogs.js" type="text/javascript"></script>
</head>

<body>
    {{> navbar_admin}}
    <script>HighlightTabAdmin("home")</script><br><br>
    <!-- Main Content -->
    <div style="background: url(../img/adminDog.jpg) no-repeat; background-size: cover; background-position: left center; height: 500px"><br><br>
        <h1 class="bubblegumsans" style="margin-top: 250px; text-align: center; color: #F1EAEA; font-size:70px!important; float:right; width: 40%">PAWSTER CARE</h1>
    </div>
    <div class="Dashboard-request">
        <span class="title bubblegumsans">Requests</span>
        <div class="Dashboard-requestTable">
            <table id="RequestsTable" class="display cabin" style="width=100%">
                <thead>
                    <tr>
                        <td>Name of Requester</td>
                        <td>Email Address</td>
                        <td>Dog Requested</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each requests}}
                    <tr data-id="{{_id}}">
                        <td>{{reqName}}</td>
                        <td>{{reqEmail}}</td>
                        <td>{{reqDog}}</td>
                        <td>{{reqStatus}}</td>
                        <td>
                            <div data-id="{{_id}}">
                                <form method="post" action="approve" style="display:inline" class="form-horizontal">
                                    <input type="hidden" name="reqid" value="{{_id}}">
                                    <input type="submit" class="btn btn-success" value="Approve">
                                </form>
                                <form method="post" action="reject" style="display:inline" class="form-horizontal">
                                    <input type="hidden" name="reqid" value="{{_id}}">
                                    <input type="submit" class="btn btn-danger" value="Reject">
                                </form>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="col mt-5">
                <a href="admin_requests" class="custom-card">
                    <button class="btn btn-block btn-primary cabin text-white" style="display:inline-block; background: #6DAB3C!important; width:200px!important;">See All Requests</button>
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="Dashboard-dogs">
        <span class="title bubblegumsans">Dogs</span><br><br>
        <div class="row gallery" id="gallery">
            <!-- Team member -->
            {{#each dogs}}
            {{#ifCond @index "<" 3}} <span data-id="{{_id}}" data-name="{{name}}" data-breed="{{breed}}" data-gender="{{gender}}" data-energy_level="{{energy_level}}" data-ease_of_training="{{ease_of_training}}" class="col-xs-12 col-sm-6 col-md-4  product">
                {{/ifCond}}
                {{#ifCond @index ">=" 3}}
                <span data-id="{{_id}}" data-name="{{name}}" data-breed="{{breed}}" data-gender="{{gender}}" data-energy_level="{{energy_level}}" data-ease_of_training="{{ease_of_training}}" class="col-xs-12 col-sm-6 col-md-4  product hide">
                    {{/ifCond}}
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img class="img-fluid" src="../uploads/{{image}}" class="img-responsive" onerror="this.onerror=null;this.src='../img/dog-not-found.png';" alt="no dog image found" /><br><br>
                                        <h4 class="card-title text-black bubblegumsans" style="display: inline; color: black!important;">{{name}}</h4>
                                        <img src="../img/{{gender}}.png" style="height:20px; width: 20px; display: inline" />
                                        <p class="card-text text-black bubblegumsans">the {{breed}}</p>
                                        <p class="card-text text-black bubblegumsans">Energy Level: <img src="../img/{{energy_level}}.png" style="margin-top: -15px; height:20px; width: 70px;" /></p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="../uploads/{{image}}" class="img-responsive img-back" onerror="this.onerror=null;this.src='../img/dog-not-found.png';" alt="card image">
                                        <h4 class="card-title cabin">{{name}}</h4>
                                        <p class="card-text cabin" style="text-align: justify">{{description}}</p>
                                        <button class="cabin edit btn btn-primary" data-id="{{_id}}" style="background: #6DAB3C!important;">Edit Dog Info</button>
                                        <button class="btn btn-primary btn-danger delete cabin" data-id="{{_id}}"><span class="fa fa-window-close"></span> Remove me!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
                {{/each}}
        </div>
        <div class="col mt-5">
            <a href="admin_dogs" class="custom-card">
                <button class="btn btn-block btn-primary cabin text-white" style="display:inline-block; background: #6DAB3C!important; width:200px!important;">See All Dogs</button>
            </a>
        </div>
    </div>
    <script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src="../js/meet_the_dogs.js"></script>
    <form action="edit" id="editform">
        <!-- just for the javascript function-->
        <input type="hidden" name="id" id="editid">
    </form>
    <form action="delete-dog" id="deleteform" method="post">
        <!-- just for the javascript function-->
        <input type="hidden" name="id" id="deleteid">
    </form>
</body>

</html>