<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--  title details    -->
    <title>PAWSter Care - Adopt your Pup!</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- css cdns -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!------ Footer ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- custom CSS -->
    <link href="../css/PAWSter%20Care.css" rel="stylesheet">
    <link href="../css/check_dog.css" rel="stylesheet">
    <!-- custom js -->
    <script src="../js/admin_dogs.js" type="text/javascript"></script>
    <script src="../js/PAWSter%20Care.js" type="text/javascript"></script>
</head>

<body>
    {{> navbar}}
    <script>HighlightTab("meet_the_dogs")</script><br><br><br>
    <div class="container mt-2">
        <div class="row mt-0 mb-2">
            <div class="col">
                <a href='dogs'><button class="btn btn-default cabin float-right text-orange">Go Back</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="bubblegumsans text-brown">{{dog.name}}</h2>
                <div class="cabin" style="border-radius:20px; background-color: #FFFFFF"> &nbsp;&nbsp; &nbsp;{{dog.energy_level}}  <span class="text-blue font-weight-bold"> energy </span> <span class="text-green"> • </span> {{dog.ease_of_training}} <span class="text-blue font-weight-bold"> ease of training </span><span class="text-green"> • </span> {{dog.affection_needs}} <span class="text-blue font-weight-bold"> affection</span></div>
            </div>
            <div class="col">
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="mt-3">
                    <div class="profile-img">
                        <a class="lightbox" href="#image">
                            <img class="bg-white" src="../uploads/{{dog.image}}" style="height: 370px;width: 470px;" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-8">
                        <h3 class="bubblegumsans text-brown mt-1">About me</h3>
                    </div>
                    <div class="col-4">
                        <button style="background: #6DAB3C!important;" class="edit btn btn-primary btn-success bubblegumsans" data-id="{{dog._id}}">Adopt Now!</button>
                    </div>
                </div>
                <div class="row cabin text-grayblue mb">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{dog.description}}
                </div>
                <div class="row">
                    <img class="mt-2 mb-3" style="width: 550px;" src="../img/line2.png" />
                </div>
                <div class="row">
                    <div class="col">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active cabin text-grayblue" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                                <a class="nav-item nav-link cabin text-grayblue" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Character</a>
                            </div>
                        </nav>
                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/breed.png" style="height: 30px;"><label>&nbsp;&nbsp;&nbsp;Breed</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{dog.breed}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/gender.png" style="height: 30px;">
                                            <label>&nbsp;&nbsp;Gender</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{dog.gender}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/birthday.png" style="height: 25px;">
                                            <label>&nbsp;&nbsp;&nbsp;Birthday</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{dog.birthday}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/height.png" style="height: 25px;">
                                            <label>&nbsp;&nbsp;&nbsp;Current Height</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{dog.height}} inches</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/weight.png" style="height: 30px;">
                                            <label>&nbsp;&nbsp;&nbsp;Current Weight</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{dog.weight}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="../img/name.png" style="height: 25px;">
                                            <label>&nbsp;&nbsp;&nbsp;Specific Conditions</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{dog.conditions}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../img/energy.png" style="height: 30px;">
                                        <label>&nbsp;&nbsp;&nbsp;Energy Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{dog.energy_level}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../img/training.png" style="height: 40px;">
                                        <label>&nbsp;Ease of Training</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{dog.ease_of_training}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../img/grooming.png" style="height: 29px;">
                                        <label>&nbsp;&nbsp;&nbsp;Grooming Requirements</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{dog.grooming_requirements}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../img/affection.png" style="height: 30px;">
                                        <label>&nbsp;&nbsp;&nbsp;Affection Needs</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{dog.affection_needs}}</p>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>PAWSter Care makes sure that these characteristics are regulated daily, and changes are made immediately.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 mb-4"></div>
        </div>
    </div>
    <br>
    {{> footer}}
    <div class="lightbox-target" id="image">
        <img src="../uploads/{{dog.image}}" />
        <a class="lightbox-close" href="#"></a>
    </div>
    <form action="request_dog" id="editform">
        <!-- just for the javascript function-->
        <input type="hidden" name="id" id="editid">
    </form>
</body>

</html>