<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--  title details    -->
    <title>PAWSter Care</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    <!-- Homepage -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="../public/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <!-- banner slider -->
    <link rel="stylesheet" href="../public/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="../public/css/font-awesome.min.css" rel="stylesheet">
    <!--  title details    -->
    <title>PAWSter Care - Adopt your Pup!</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    <!-- End of Homepage -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Custom fonts for this template -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!------ Footer ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- custom CSS -->
    <link href="../css/PAWSter%20Care.css" rel="stylesheet">
    <link href="../css/homepage.css" rel="stylesheet">

    <!-- custom js -->
    <script src="../js/homepage.js" type="text/javascript"></script>
    <script src="../js/PAWSter%20Care.js" type="text/javascript"></script>
    <link href="/css/my.css" rel="stylesheet">
</head>

<body>
    {{> navbar}}
    <script>HighlightTab("home")</script>
    <!-- banner -->
    <div class="banner_w3lspvt">
        <div class="w3ls_banner_txt mt-0"><br><br>
            <h3 class="w3ls_pvt-title mt-0 bubblegumsans" style="margin-right: 120px!important;">Why buy? Adopt.</h3>
            <h3 class="delius mb-4" style="color: #4B1C00; text-align: right; margin-right: 120px!important;">Lots of dogs need your attention.<br> PAWSter Care provides the best service.</h3>
            <div class="search-form col-md-5" style="margin-right: 120px!important;">
                <div class="form-group">
                    <h3 class="banner_title center-item delius">Which breed do you want to see?</h3><br>
                    <select id="pref-breed" type="text" placeholder="Choose a breed.." class="form-control" name="prefBreed">
                        <option value="Show All">Show All</option>
                        <option value="Beagle">Beagle</option>
                        <option value="Corgi">Corgi</option>
                        <option value="Dachshund">Dachshund</option>
                        <option value="Golden Retriever">Golden Retriever</option>
                        <option value="Husky">Husky</option>
                        <option value="Schnauzer">Schnauzer</option>
                    </select>
                </div><br>
                <div>
                    <button class="filter-button btn button-style ml-3">Find one now!</button>
                </div>
            </div>
            <br><br>
            <div class="mb-5" style="margin-right: 260px!important;">
                <a href="#about" class="btn button-style mt-sm-4 mt-4" style="margin-right: 20px;">Read More</a>
                <a href="#testimonials" class="btn button-style mt-sm-4 mt-4">Client Feedbacks</a>
            </div>
        </div>
    </div>
    <!-- about -->
    <div class="popular-wthree py-4" id="about">
        <br><br><br>
        <div class="container py-xl-5 py-lg-3">
            <h3 class="w3ls_pvt-title mb-0 text-center chewy text-brown">Welcome to PAWSter Care </h3>
            <img style="margin-left: 40%; margin-right: -50%;" src="../img/line.PNG" />
            <div class="row py-xl-4 text-center">
                <div class="col-sm-4 popular-wthree-grid">
                    <div class="cards text-blue bubblegumsans">
                        <img src="../img/card1.png" class="img-fluid" alt="" style="border-radius:5px;" />
                        <div class="card-block">
                            <h2 class="text-blue mb-3">Fall in love <br> with pups!</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 popular-wthree-grid my-sm-0 my-4">
                    <div class="cards text-green bubblegumsans">
                        <img src="../img/card2.png" class="img-fluid" alt="" style="border-radius:5px;" />
                        <div class="card-block">
                            <h2 class="text-green">Find a <br> perfect <br> match!</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 popular-wthree-grid">
                    <div class="cards text-violet bubblegumsans">
                        <img src="../img/card3.png" class="img-fluid" alt="" style="border-radius:5px;" />
                        <div class="card-block">
                            <h2 class="text-violet mb-3">Your buddy <br> awaits!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br><br>
    <!-- //about -->
    <!-- testimonials -->
    <div class="row bg-white testimonials py-5" id="testimonials">
        <div class="col-sm-6">
            <img src="../img/dog05.jpg" class="col-sm-12" style="border-radius:5px; margin-top: 0px;" />
        </div>
        <div class="col-sm-6">
            <section class="text-center">
                <div class="container py-4 text-brown bubblegumsans">
                    <h1>Check out our reviews from satisfied customers!</h1>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mt-5">
                            <div class="p-2 bg-white rounded">
                                <!-- Bootstrap carousel-->
                                <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
                                    <!-- Bootstrap carousel indicators [nav] -->
                                    <ol class="carousel-indicators mb-0">
                                        {{#each feedback}}
                                        {{#ifCond @index "<" 5}}
                                            {{#ifCond @index "==" 0}}
                                            <li class="active" data-target="#carouselExampleIndicators" data-slide-to={{@index}}></li>
                                            {{/ifCond}}
                                            {{#ifCond @index "!=" 0}}
                                            <li data-target="#carouselExampleIndicators" data-slide-to='{{@index}}'></li>
                                            {{/ifCond}}
                                        {{/ifCond}}
                                        {{/each}}
                                    </ol>
                                    <!-- Bootstrap inner [slides]-->
                                    <div class="carousel-inner px-5 pb-4">
                                        <div class="carousel-item active">
                                            <div class="media">
                                                <div class="media-body ml-3">
                                                    <blockquote class="blockquote border-0 p-0">
                                                        <p class="font-italic lead">Leave us some feedback in the feedback page! Check it in the footer tab! We make sure to always listen to our customers in order to give the only the best of service!</p>
                                                        <footer class="bg-white caveat"> Go ahead and start your dog journey!
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                        {{#each feedback}}
                                        {{#ifCond @index "<" 5}}
                                        <!-- Carousel slide-->
                                        <div class="carousel-item">
                                            <div class="media"><img class="rounded-circle img-thumbnail" src="../img/user-icon.png" alt="" width="75">
                                                <div class="media-body ml-3">
                                                    <blockquote class="blockquote border-0 p-0">
                                                        <p class="font-italic lead"> <i class="fa fa-quote-left mr-3 text-success"></i>{{fText}}</p>
                                                        <footer class="bg-white caveat"> - {{fName}} {{lName}}
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                        {{/ifCond}}
                                        {{/each}}
                                    </div>
                                    <!-- Bootstrap controls [dots]-->
<!--
                                    <a class="carousel-control-prev width-auto" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left text-dark text-lg"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next width-auto" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <i class="fa fa-angle-right text-dark text-lg"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- //testimonials -->
    <div class="container mt-5 mb-5" style="background-color: #F2EEE5; background-size: cover;">
    </div>
    
    <div id="WrongLoginModal" class="modal fade">
      <div class="modal-dialog modal-login mt-5" style="margin-top: 120px!important;">
        <div class="modal-content">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
                        <span aria-hidden="true">&times;&nbsp;</span>
                    </button>
                    <div><img src="/img/logo.png" style="height:30%; width: 30%; margin-left: 35%; margin-right: 40%;position: relative; top: -90px; margin-bottom: -80px;">
                    </div>
                    <div class="card-body">
                        <h2 class="title chewy text-center text-brown">Incorrect Login</h2><br>
                        <h5 class="cabin text-center">Username or password is incorrect. Please try again!</h5><br>
                        <h5 class="cabin text-center">Don't have an account? <a href="signup.html">Sign Up!</a></h5>
                    </div>
                </div>
                <div class="modal-footer cg">
                    <button type="button" class="btn btn-secondary cg" data-dismiss="modal">Close</button>
                </div>
            </div>
      </div>
    </div>
    
    {{> footer}}
    <form action="filter" id="filterform">
        <!-- just for the javascript function-->
        <input type="hidden" name="id" id="filterid">
    </form>
</body>

</html>