<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    
<!--  title details    -->
  <title>PAWSter Care - Request form</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png" />
    
<!-- Alertify CDN  -->  
 <script src="js/alertify.min.js"></script>    

<!-- CSS -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/bootstrap.min.css"/>

     <!-- for sweet alert boxes (replacement for norm js pop up) -->
    <script src="../js/sweetalert2.all.min.js"></script>
    
<!-- RTL version -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.rtl.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.rtl.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/semantic.rtl.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/bootstrap.rtl.min.css"/>
    
<!-- BootstrapCDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<!-- Custom fonts for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
<!-- The layout of the navbar and the footer changes

<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!-- The adoption and profile icon dropdown doesn't work if this is used.

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
    
<!------ Footer ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
<!-- custom CSS -->
<link href="../css/PAWSter%20Care.css" rel="stylesheet">
<link href="../css/requestform.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/alertify.css"/>
    
<!-- custom js + slider -->
<script src="../js/jssor.slider-27.5.0.min.js" type="text/javascript"></script>
<script src="../js/PAWSter%20Care.js" type="text/javascript"></script>
<script src="../js/requestform.js"></script>
</head>
    
<body>
<!-- Navigation -->
{{> navbar}}
    <script>HighlightTab("profile")</script><br><br><br>
<div class="container-fluid">
	<div class="col-lg-12 request-wrap" id="source-html">    
        <div class="card-1">
            <div class="circle-tile">    
                <div class="circle-tile-heading">
                    <img src="img/dogbone-collar.png" />
                </div>
            </div>
        <div class = "card-body request-block">    
            <h1 class="well text-center request-header bubblegumsans">Dog Adoption Form</h1>
            <form method="post" action="request" class="needs-validation cabin" novalidate>
                        {{!-- NAME --}}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="First Name" class="form-control" id="reqFirst" name="reqFirst" required>
                                <div class="invalid-feedback" id="invalid-fname">You need to fill up this field.</div>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Last Name" class="form-control" id="reqLast" name="reqLast" required>
                                <div class="invalid-feedback" id="invalid-lname">You need to fill up this field.</div>
                            </div>
                        </div>

                        {{!-- CONTACT DETAIL --}}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Phone Number" class="form-control" id="reqNum"  name="reqNum">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" placeholder="Email Address" class="form-control" id="reqEmail" name="reqEmail" value="{{email}}" required>
                                <div class="invalid-feedback" id="invalid-email">Please choose a valid email address.</div>
                            </div>
                        </div>
                        
                        {{!-- ADDRESS and DOG --}}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <textarea placeholder="Address" rows="3" class="form-control" id="reqAddress"  name="reqAddress" required></textarea>
                                <div class="invalid-feedback">You need to fill up this field.</div>
                            </div>
                            <div class="form-group col-md-6">
                                <!--<input type="text" placeholder="Dog Name.." class="form-control" value="{dogname}" id="reqDog" name="reqDog" required readonly="readonly">-->
                                
						        <select placeholder="Dog Name.." class = "form-control" id="reqDog" name="reqDog" required>
                                    <option value="" disabled>Select your dog</option>
                                    <option value="{{currentdog._id}}" selected>{{currentdog.name}}</option>
                                   {{#each dogs}}    
                                  <option value="{{_id}}">{{name}}</option>
                                  {{/each}}    
                                </select>
                                
                                <!--<p><span style="color:red">*</span> - Required fields</p>-->
                            </div>
                        </div>
                        <!--<input type = "hidden" value="{{dog._id}}" name= "reqDogID" id= "reqDogID">-->
                        <input type = "hidden" value="{{userID}}" name= "reqUserID" id= "reqUserID">
                        <div>
                            <p>By sending this electronically, I agree to the terms and conditions listed under <a href="protocols">Protocols</a>.
                        </div>
                <div class="btn-wrap">
                    <input type="submit" class="btn btn-lg btn-submit bubblegumsans" value="Submit Request">  
                    <a type="button" class="btn btn-lg btn-cancel bubblegumsans" value="Cancel Adoption" href="dogs">Cancel Adoption</a>
                </div>
                </form> 
        </div>
	   </div>
        </div>
    </div>
    <br><br>
{{> footer}}
</body>
</html>